/HoraDoSistema/target/
/IdiomaDoSistema/target/
/ResolucaoDeTela/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoSwing/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/HoraDoSistemaSwing/nbproject/private/
/HoraDoSistemaSwing/build/
