/HoraDoSistema/target/
/IdiomaDoSistema/target/
/ResolucaoDeTela/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoSwing/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/HoraDoSistemaSwing/nbproject/private/
/HoraDoSistemaSwing/build/
/HoraDoSistemaSwing/dist/
/IdiomaDoSistemaSwing/nbproject/private/
/IdiomaDoSistemaSwing/build/
/IdiomaDoSistemaSwing/dist/
/ResolucaoDeTelaSwing/nbproject/private/
/ResolucaoDeTelaSwing/build/
/ResolucaoDeTelaSwing/dist/
/OlaMundo/target/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/CalculadoraIdade/dist/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresAritmeticos/dist/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadoresSwing/dist/
/OperadoresMathSwing/nbproject/private/
/SuperCalculadora/nbproject/private/
/SuperCalculadoraSwing/nbproject/private/
/SuperCalculadoraSwing/build/
/SuperCalculadoraSwing/dist/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/OperadorTernario/dist/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/ComparacaoString/dist/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/OperadoresLogicos/dist/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/VerificadorIdadeSwing/dist/
/VerificadorEleitorSwing/nbproject/private/
/LeitorPensamento/nbproject/private/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/LeitorDePensamento/dist/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaMedia/dist/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgramaIdade/dist/
/ProgramaParImparSwing/nbproject/private/
/ProgramaParImparSwing/build/
/ProgramaParImparSwing/dist/
/EquacaoSegundoGrauSwing/nbproject/private/
/EquacaoSegundoGrauSwing/build/
/EquacaoSegundoGrauSwing/dist/
/VerificadorEleitorSwing/build/
/VerificadordadeSwing/nbproject/private/
/VerificadorEleitorSwing/dist/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/ProgramaPernas/dist/
/PrimeiroAlgoritmoSwing/build/
/PrimeiroAlgoritmoSwing/dist/
/ContadorCambalhota/nbproject/private/
/ContadorCambalhota/build/
/ContadorCambalhota/dist/
/ContadorComContinue/nbproject/private/
/ContadorComContinue/build/
/ContadorComBreak/nbproject/private/
/ContadorComBreak/build/
/ContadorCambalhotaFinal/nbproject/private/
/ContadorCambalhotaFinal/build/
/Numeros/nbproject/private/
/Numeros/build/
/Numeros/dist/
/RepitaComJOptionPane/nbproject/private/
/RepitaComJOptionPane/build/
/RepitaComJOptionPane/dist/
/SuperCalculadoraJOptionPane/nbproject/private/
/SuperCalculadoraJOptionPane/build/
/SuperCalculadoraJOptionPane/dist/
