/HoraDoSistema/target/
/IdiomaDoSistema/target/
/ResolucaoDeTela/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoSwing/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/HoraDoSistemaSwing/nbproject/private/
/HoraDoSistemaSwing/build/
/HoraDoSistemaSwing/dist/
/IdiomaDoSistemaSwing/nbproject/private/
/IdiomaDoSistemaSwing/build/
/IdiomaDoSistemaSwing/dist/
/ResolucaoDeTelaSwing/nbproject/private/
/ResolucaoDeTelaSwing/build/
/ResolucaoDeTelaSwing/dist/
/OlaMundo/target/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/CalculadoraIdade/dist/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresAritmeticos/dist/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadoresSwing/dist/
/OperadoresMathSwing/nbproject/private/
/SuperCalculadora/nbproject/private/
/SuperCalculadoraSwing/nbproject/private/
/SuperCalculadoraSwing/build/
/SuperCalculadoraSwing/dist/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/OperadorTernario/dist/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/ComparacaoString/dist/
